*{
    padding: 10px;
    margin: 10px;
}
div.container{
    width: 88%;
    min-height: 400px;
    background-color: blueviolet;
    color:yellow;
    margin: 10px auto;
}
div.container > h1 {
text-align: center;
}
ul.list {
    list-style-type: square;
    margin-left: 10px;
}

body{
    background-color:black;
}
